In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import DBSCAN
from sklearn.preprocessing import StandardScaler

wholesale=pd.read_csv('Wholesale customers data.csv')
wholesale

wholesale.info()

wholesale.drop(['Channel','Region'],axis=1,inplace=True)
wholesale

whole_norm=StandardScaler().fit_transform(wholesale)
whole_norm

dbscan=DBSCAN(eps=1,min_samples=6)
dbscan.fit(whole_norm)

dbscan.labels_

clusters=pd.DataFrame(dbscan.labels_,columns=['clusters'])
clusters

wholesale['Clusters']=dbscan.labels_
wholesale

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440 entries, 0 to 439
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Channel           440 non-null    int64
 1   Region            440 non-null    int64
 2   Fresh             440 non-null    int64
 3   Milk              440 non-null    int64
 4   Grocery           440 non-null    int64
 5   Frozen            440 non-null    int64
 6   Detergents_Paper  440 non-null    int64
 7   Delicassen        440 non-null    int64
dtypes: int64(8)
memory usage: 27.6 KB

     Fresh   Milk  Grocery  Frozen  Detergents_Paper  Delicassen  Clusters
0    12669   9656     7561     214              2674        1338         0
1     7057   9810     9568    1762              3293        1776         0
2     6353   8808     7684    2405              3516        7844        -1
3    13265   1196     4221    6404               507        1788         0
4    22615   5410     7198    3915              1777        5185         0
..     ...    ...      ...     ...               ...         ...       ...
435  29703  12051    16027   13135               182        2204        -1
436  39228   1431      764    4510                93        2346         0
437  14531  15488    30243     437             14841        1867        -1
438  10290   1981     2232    1038               168        2125         0
439   2787   1698     2510      65               477          52         0

[440 rows x 7 columns]